:root{
  --regular-font: sans-serif;
  --color-text: #050505;
  --background-main: #F0EEF1;
  --backgroud-text: #FFFBFB;
}

*{
  font-family: var(--regular-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body, html{
  height: 100vh;

}

h1{
background-color: rgba(187, 187, 187, 0.681);
}
